{% extends "base.html" %}

{% block title %}Supervision plancher RDC{% endblock %}

{% block head %}
<!-- JustGage et Raphael (dépendance nécessaire) -->
<script src="https://cdn.jsdelivr.net/npm/raphael/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.js"></script>



{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Toast pour le statut de l'Arduino -->
    <div id="arduinoToast" class="toast align-items-center text-white bg-info border-0 position-fixed top-0 end-0 m-3"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span id="arduinoStatusText">Vérification de la connexion à l'Arduino...</span>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>

    <!-- Toast pour les erreurs -->
    <div id="errorToast" class="toast align-items-center text-white bg-danger border-0 position-fixed top-0 end-0 m-3"
        role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span id="errorMessageText"></span>
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-3">
            <h5>Départ plancher</h5>
            <div id="gaugePlancherDepart" class="gauge-container"></div>
        </div>
        <div class="col-md-3">
            <h5>Retour plancher</h5>
            <div id="gaugePlancherRetour" class="gauge-container"></div>
        </div>
        <div class="col-md-3">
            <h5>Alimentation plancher</h5>
            <div id="gaugeDepartAlim" class="gauge-container"></div>
        </div>
        <div class="col-md-3">
            <h5>Ambiance</h5>
            <div id="gaugeAmbiance" class="gauge-container"></div>
        </div>
    </div>

    <style>
        .gauge-container {
            width: 150px;
            height: 120px;
            margin: auto;
        }
    </style>


    <div id="dashboard" class="mt-4">
        <div class="row align-items-center"> <!-- Centre verticalement -->
            <!-- Colonne avec le schéma -->
            <div id="Col_Schema" class="col-xl-8">
                <div id="controlSchema">
                    <img src="{{ url_for('static', filename='schemas/schema_Plancher.png') }}" />
                    <button id="btnCirculateur" type="button" class="btn btn-danger">Pompe</button>
                    <div id="spinnerCirculateur" class="spinner-border text-danger"></div>
                    <button id="departTemp" class="btn btn-danger">...°C</button>
                    <button id="retourTemp" type="button" class="btn btn-primary">...°C</button>
                    <button id="alimTemp" type="button" class="btn btn-danger">...°C</button>
                    <button id="ambianceTemp" type="button" class="btn btn-info"
                        style="width: 90px; text-align: right; padding-right: 10px;">...°C</button>
                    <button id="deltaTemp" type="button" class="btn btn-info"
                        style="width: 90px; text-align: right; padding-right: 10px;">...°C</button>
                </div>

            </div>

            <!-- Colonne avec les consignes, alignée à droite et centrée verticalement -->
            <div id="Col_Consignes" class="col-xl-4 d-flex flex-column align-items-end justify-content-center">

                <div class="mb-3 w-100">
                    <label for="input_ambiance" class="form-label">Consigne Ambiance:</label>
                    <input id="input_ambiance" class="form-control text-end" type="number" min="10" max="26" step="0.5"
                        placeholder="En attente..." value="">
                </div>

                <div class="mb-3 w-100">
                    <label for="input_plancher" class="form-label">Consigne Plancher:</label>
                    <input id="input_plancher" class="form-control text-end" type="number" min="20" max="35" step="0.5"
                        placeholder="En attente..." value="">
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    // Définition des gauges avec un label personnalisé
    function createGauge(id, title, min, max) {
        return new JustGage({
            id: id,
            value: min,
            min: min,
            max: max,
            title: title,
            label: "°C",
            decimals: 1
        });
    }

    // Création des gauges
    let gaugePlancherDepart = createGauge("gaugePlancherDepart", "Départ plancher", 8, 50);
    let gaugePlancherRetour = createGauge("gaugePlancherRetour", "Retour plancher", 8, 50);
    let gaugeDepartAlim = createGauge("gaugeDepartAlim", "Alimentation plancher", 7, 70);
    let gaugeAmbiance = createGauge("gaugeAmbiance", "Ambiance", 7, 40);


    function GetArduinoInputs() {
        let nocache = "?nocache=" + Math.random() * 1000000;
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    try {
                        let data = JSON.parse(this.responseText);

                        if (data.temp_plancher_depart !== undefined) {
                            document.getElementById("departTemp").innerHTML = data.temp_plancher_depart + " °C";
                            document.getElementById("retourTemp").innerHTML = data.temp_plancher_retour + " °C";
                            document.getElementById("alimTemp").innerHTML = data.temp_depart_alim + " °C";
                            document.getElementById("ambianceTemp").innerHTML = data.temp_ambiance + " °C";
                            document.getElementById("deltaTemp").innerHTML = data.deltaT + " °C";

                            // Mise à jour des input_ambiance et input_plancher
                            document.getElementById("input_ambiance").value = data.consigne_ambiance;
                            document.getElementById("input_plancher").value = data.consigne_plancher;

                            gaugePlancherDepart.refresh(data.temp_plancher_depart);
                            gaugePlancherRetour.refresh(data.temp_plancher_retour);
                            gaugeDepartAlim.refresh(data.temp_depart_alim);
                            gaugeAmbiance.refresh(data.temp_ambiance);

                        }

                        hideError();
                    } catch (e) {
                        console.error("Erreur de parsing JSON:", e);
                        showError("Données invalides reçues de l'Arduino.");
                    }
                } else {
                    showError("L'Arduino ne répond pas. Vérifiez la connexion !");
                }
            }
        };

        request.onerror = function () {
            showError("Erreur réseau. Impossible de contacter l'Arduino.");
        };
        
        request.open("GET", "/arduino/proxy_inputs/plancher" + nocache, true);
        request.send();
        setTimeout(GetArduinoInputs, 10000);
    }

    function showError(message) {
        let errorToastEl = document.getElementById("errorToast");
        let errorMessageText = document.getElementById("errorMessageText");

        if (errorToastEl && errorMessageText) {
            errorMessageText.textContent = message;
            let errorToast = new bootstrap.Toast(errorToastEl);
            errorToast.show();
        }
    }

    function hideError() {
        let errorToastEl = document.getElementById("errorToast");
        if (errorToastEl) {
            let errorToast = new bootstrap.Toast(errorToastEl);
            errorToast.hide();
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        GetArduinoInputs();

        var arduinoToastEl = document.getElementById("arduinoToast");
        var arduinoToast = new bootstrap.Toast(arduinoToastEl, { delay: 5000 });

        fetch("/arduino_status")
            .then(response => response.json())
            .then(data => {
                if (data.status === "OK") {
                    document.getElementById("arduinoStatusText").textContent = data.message;
                    arduinoToast.show();
                } else {
                    showError(data.message);
                }
            })
            .catch(error => {
                showError("Erreur de connexion à l'Arduino.");
            });
    });

    $(document).ready(function () {

        // Lorsqu'un champ est modifié, on récupère la nouvelle consigne et on envoie une requête POST
        $('#input_ambiance').change(function () {
            let consigneAmbiance = $(this).val();
            console.log(`Consigne Ambiance modifiée: ${consigneAmbiance}`);  // Log de débogage
            sendPostInput('ConsigneAmbiance', consigneAmbiance);
        });

        $('#input_plancher').change(function () {
            let consignePlancher = $(this).val();
            console.log(`Consigne Plancher modifiée: ${consignePlancher}`);  // Log de débogage
            sendPostInput('ConsignePlancher', consignePlancher);
        });
    });

    function sendPostInput(key, value) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://192.168.1.111:7777/set_inputs", true); // L'URL du serveur
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // Construire la chaîne de données à envoyer
        let data = `${key}=${value}`;

        console.log(`Données envoyées : ${data}`);  // Log pour débogage

        // Envoi de la requête
        xhr.send(data);

        // Log pour débogage
        xhr.onload = function () {
            console.log('Réponse du serveur:', xhr.responseText);  // Affiche la réponse du serveur
        };
    }

</script>
{% endblock %}