# Python
__pycache__/
*.pyc

# SQLite database
data/*.db

# Environnement variables
.env
Azure.txt

# Logs et temporaires
logs/
*.log

# Docker
*.dockerignore
docker-compose.override.yml

# IDE & OS
.vscode/
.idea/
.DS_Store

# environnement virtuel
venv/*
