# Python
__pycache__/
*.pyc

# SQLite database
data/*.db

# Environnement variables
.env
Azure.txt

# Logs et temporaires
logs/
*.log

# Docker
*.dockerignore
docker-compose.override.yml

# IDE & OS
.vscode/
.idea/
.DS_Store

# environnement virtuel
venv/*

#session Flask
flask_session/*
DEV_temperature_logs.db
data/import initial Bank.sql

# images docker
arduino-app.tar