{% extends "base.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block head %}
<!-- JustGage et Raphael (dépendance nécessaire) -->
<script src="https://cdn.jsdelivr.net/npm/raphael/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.js"></script>



{% endblock %}

{% block content %}
<div class="container">

    <div class="row align-items-start g-4">

        <!-- start Left nav bar -->
        {% include "components/navbar_left.html" %}
        <!-- end Left nav bar -->

        <!-- start Main content -->
        <div class="col-md-8 col-lg-6 vstack gap-4">
            {% include "components/calendar/Events_List.html" %}
        </div>
        <!-- end Main content -->
        
        <!-- start right nav bar -->
        {% include "components/navbar_right.html" %}
        <!-- end right nav bar -->

        

    </div>
    <!-- end Main content -->
</div>

{% endblock %}