<!-- /templates/admin/user_form_fields.html -->

<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" name="email" required >
</div>
<div class="mb-3">
  <label for="first_name" class="form-label">Prénom</label>
  <input type="text" class="form-control" name="first_name" required>
</div>
<div class="mb-3">
  <label for="last_name" class="form-label">Nom</label>
  <input type="text" class="form-control" name="last_name" required>
</div>
<div class="mb-3">
  <label for="birthdate" class="form-label">Date de naissance</label>
  <input type="date" class="form-control" name="birthdate" required>
</div>
<div class="mb-3">
  <label for="role" class="form-label">Rôle</label>
  <select class="form-select" name="role" required>
      <option value="administrateur">Administrateur</option>
      <option value="utilisateur">Utilisateur</option>
  </select>
</div>
