{% extends "base.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block head %}
<!-- JustGage et Raphael (dépendance nécessaire) -->
<script src="https://cdn.jsdelivr.net/npm/raphael/raphael.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/justgage@1.4.0/justgage.js"></script>



{% endblock %}

{% block content %}
<div class="container">

    <div class="row align-items-start g-4">

        <!-- start Left nav bar -->
        <div class="col-lg-3">

            <!-- Advanced filter responsive toggler START -->
            <div class="d-flex align-items-center d-lg-none">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
                    <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
                    <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
                </button>
            </div>
            <!-- Advanced filter responsive toggler END -->

            <!-- Navbar START-->
            <nav class="navbar navbar-expand-lg mx-0 custom-navbar">
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
                    <!-- Offcanvas header -->
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <!-- Offcanvas body -->
                    <div class="offcanvas-body d-block px-2 px-lg-0">
                        <!-- Card START -->
                        <div class="card overflow-hidden">
                            <!-- Cover image -->
                            <div class="h-50px"
                                style="background-image:url(static/images/BannerNavBarLeft.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;">
                            </div>
                            <!-- Card body START -->
                            <div class="card-body pt-0">
                                <div class="text-center">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-lg mt-n5 mb-3">
                                        <a href="#!"><img class="avatar-img rounded border border-white border-3"
                                                src="{{ url_for('static',filename='images/Avatar (200x200).jpg')}}" alt=""></a>
                                    </div>
                                    <!-- Info -->
                                    <h5 class="mb-0"> <a href="#!">Artaix</a> </h5>
                                    <small>The most confortable Home</small>
                                    <p class="mt-3">Qu'il fait bon d'y vivre !
                                    </p>

                                    <!-- User stat START -->
                                    <div class="hstack gap-2 gap-xl-3 justify-content-center">
                                        <!-- User stat item -->
                                        <div>
                                            <h6 class="mb-0">4</h6>
                                            <small>Enfants !</small>
                                        </div>
                                        <!-- Divider -->
                                        <div class="vr"></div>
                                        <!-- User stat item -->
                                        <div>
                                            <h6 class="mb-0">1</h6>
                                            <small>Chat</small>
                                        </div>
                                        <!-- Divider -->
                                        <div class="vr"></div>
                                        <!-- User stat item -->
                                        <div>
                                            <h6 class="mb-0">Beaucoup !</h6>
                                            <small>de bonheur !</small>
                                        </div>
                                    </div>
                                    <!-- User stat END -->
                                </div>

                                <!-- Divider -->
                                <hr>

                                <!-- Side Nav START -->
                                <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
                                    <li class="nav-item">
                                        <a class="nav-link" href="my-profile.html"> <span>Feed
                                            </span></a>
                                    </li>                                    
                                </ul>
                                <!-- Side Nav END -->
                            </div>
                            <!-- Card body END -->
                            <!-- Card footer -->
                            <div class="card-footer text-center py-2">
                                <a class="btn btn-link btn-sm" href="/">Réglages </a>
                            </div>
                        </div>
                        <!-- Card END -->

                        <!-- Helper link START -->
                        <ul class="nav small mt-4 justify-content-center lh-1">
                            <li class="nav-item">
                                <a class="nav-link" href="my-profile-about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="settings.html">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="https://support.webestica.com/login">Support
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="help.html">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="privacy-and-terms.html">Privacy &amp; terms</a>
                            </li>
                        </ul>
                        <!-- Helper link END -->
                        <!-- Copyright -->
                        <p class="small text-center mt-1">©2024 <a class="text-reset" target="_blank"
                                href="/"> 2025 - Magnan's Family - Est. 2003 </a></p>
                    </div>
                </div>
            </nav>
            <!-- Navbar END-->
        </div>
        <!-- end Left nav bar -->

        <!-- start Main content -->
        <div class="col-md-8 col-lg-6 vstack gap-4">
            <!-- Section Calendrier Outlook -->
            <div class="card shadow-sm  p-4">
                <h2 class="text-secondary">Calendrier</h2>
                <div id="events" class="fw-semibold text-muted">Chargement des événements...</div>
            </div>
            
            <!-- Section Météo -->
            <div class="card shadow-sm  p-4">
                <h2 class="text-secondary">Météo</h2>
                <div class="weather-info">
                    <p id="current-weather" class="fw-semibold text-muted">Chargement...</p>
                    <p id="tomorrow-weather" class="fw-semibold text-muted">Chargement...</p>
                </div>
            </div>

        </div>
        <!-- end Main content -->
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    // Définition des gauges avec un label personnalisé
    function createGauge(id, title, min, max) {
        return new JustGage({
            id: id,
            value: min,
            min: min,
            max: max,
            title: title,
            label: "°C",
            decimals: 1
        });
    }

    // Création des gauges
    let gaugePlancherDepart = createGauge("gaugePlancherDepart", "Départ plancher", 8, 50);
    let gaugePlancherRetour = createGauge("gaugePlancherRetour", "Retour plancher", 8, 50);
    let gaugeDepartAlim = createGauge("gaugeDepartAlim", "Alimentation plancher", 7, 70);
    let gaugeAmbiance = createGauge("gaugeAmbiance", "Ambiance", 7, 40);


    function GetArduinoInputs() {
        let nocache = "&nocache=" + Math.random() * 1000000;
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    try {
                        let data = JSON.parse(this.responseText);

                        if (data.temp_plancher_depart !== undefined) {
                            document.getElementById("departTemp").innerHTML = data.temp_plancher_depart + " °C";
                            document.getElementById("retourTemp").innerHTML = data.temp_plancher_retour + " °C";
                            document.getElementById("alimTemp").innerHTML = data.temp_depart_alim + " °C";
                            document.getElementById("ambianceTemp").innerHTML = data.temp_ambiance + " °C";
                            document.getElementById("deltaTemp").innerHTML = data.deltaT + " °C";

                            // Mise à jour des input_ambiance et input_plancher
                            document.getElementById("input_ambiance").value = data.consigne_ambiance;
                            document.getElementById("input_plancher").value = data.consigne_plancher;

                            gaugePlancherDepart.refresh(data.temp_plancher_depart);
                            gaugePlancherRetour.refresh(data.temp_plancher_retour);
                            gaugeDepartAlim.refresh(data.temp_depart_alim);
                            gaugeAmbiance.refresh(data.temp_ambiance);

                        }

                        hideError();
                    } catch (e) {
                        console.error("Erreur de parsing JSON:", e);
                        showError("Données invalides reçues de l'Arduino.");
                    }
                } else {
                    showError("L'Arduino ne répond pas. Vérifiez la connexion !");
                }
            }
        };

        request.onerror = function () {
            showError("Erreur réseau. Impossible de contacter l'Arduino.");
        };

        request.open("GET", "http://192.168.1.111:7777/ajax_inputs" + nocache, true);
        request.send();
        setTimeout(GetArduinoInputs, 10000);
    }

    function showError(message) {
        let errorToastEl = document.getElementById("errorToast");
        let errorMessageText = document.getElementById("errorMessageText");

        if (errorToastEl && errorMessageText) {
            errorMessageText.textContent = message;
            let errorToast = new bootstrap.Toast(errorToastEl);
            errorToast.show();
        }
    }

    function hideError() {
        let errorToastEl = document.getElementById("errorToast");
        if (errorToastEl) {
            let errorToast = new bootstrap.Toast(errorToastEl);
            errorToast.hide();
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        GetArduinoInputs();

        var arduinoToastEl = document.getElementById("arduinoToast");
        var arduinoToast = new bootstrap.Toast(arduinoToastEl, { delay: 5000 });

        fetch("/arduino_status")
            .then(response => response.json())
            .then(data => {
                if (data.status === "OK") {
                    document.getElementById("arduinoStatusText").textContent = data.message;
                    arduinoToast.show();
                } else {
                    showError(data.message);
                }
            })
            .catch(error => {
                showError("Erreur de connexion à l'Arduino.");
            });
    });

    $(document).ready(function () {

        // Lorsqu'un champ est modifié, on récupère la nouvelle consigne et on envoie une requête POST
        $('#input_ambiance').change(function () {
            let consigneAmbiance = $(this).val();
            console.log(`Consigne Ambiance modifiée: ${consigneAmbiance}`);  // Log de débogage
            sendPostInput('ConsigneAmbiance', consigneAmbiance);
        });

        $('#input_plancher').change(function () {
            let consignePlancher = $(this).val();
            console.log(`Consigne Plancher modifiée: ${consignePlancher}`);  // Log de débogage
            sendPostInput('ConsignePlancher', consignePlancher);
        });
    });

    function sendPostInput(key, value) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "http://192.168.1.111:7777/set_inputs", true); // L'URL du serveur
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        // Construire la chaîne de données à envoyer
        let data = `${key}=${value}`;

        console.log(`Données envoyées : ${data}`);  // Log pour débogage

        // Envoi de la requête
        xhr.send(data);

        // Log pour débogage
        xhr.onload = function () {
            console.log('Réponse du serveur:', xhr.responseText);  // Affiche la réponse du serveur
        };
    }

</script>
{% endblock %}