:root {
    --custom-light-bg: #f8f9fa; /* Gris clair pour le mode clair */
    --custom-dark-bg: #333538; /* Gris foncé pour le mode sombre */
}

[data-bs-theme="light"] .bg-body {
    background-color: var(--custom-light-bg) !important;
}

[data-bs-theme="dark"] .bg-body {
    background-color: var(--custom-dark-bg) !important;
}

[data-bs-theme="dark"] .navbar-light {
    background-color: #464647 !important;
}


.custom-navbar { /* aligmenet de la nev barre à la colonne de droite */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.h-50px {
    height: 75px !important;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.avatar-lg {
    height: 4rem;
    width: 4rem;
}

.avatar-navbar {
    height: 2rem;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#controlSchema {
    position: relative;    
    height: auto;
    margin: 10px auto;
}

#controlSchema img {
    width: 100%; /* Rendre l'image responsive */
    height: auto; /* Maintenir les proportions */
    display: block;
    margin: auto;
}

/* Positionnement des boutons en fonction de l'image */
#btnCirculateur, #departTemp, #retourTemp, #alimTemp, #ambianceTemp, #deltaTemp {
    position: absolute;
    transform: translate(-50%, -50%); /* Centrage parfait */
}

#spinnerCirculateur{
    position: absolute ;
}


/* Adaptation des positions pour différentes tailles d'écran */
/* Écrans larges (≥1200px) */
@media (min-width: 1201px) {    
    #controlSchema { width: 800px; }
    
    #btnCirculateur { top: 50%; left: 11%; }
    #spinnerCirculateur { top: 48%; left: 20%; }
    #departTemp { top: 66%; left: 41%; }
    #retourTemp { top: 29%; left: 41%; }
    #alimTemp { top: 9%; left: 22%; }
    #ambianceTemp { top: 10%; left: 55%; }
    #deltaTemp { top: 17%; left: 55%; }
}

@media (max-width: 1200px) {
    #controlSchema { width: 800px; }

    #btnCirculateur { top: 50%; left: 11%; }
    #spinnerCirculateur { top: 48%; left: 20%; }
    #departTemp { top: 66%; left: 41%; }
    #retourTemp { top: 29%; left: 41%; }
    #alimTemp { top: 9%; left: 22%; }
    #ambianceTemp { top: 10%; left: 60%; }
    #deltaTemp { top: 17%; left: 60%; }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.25rem;
    }

    .btn {
        font-size: 0.875rem;
        padding: 0.4rem 0.6rem;
    }

    .modal-dialog {
        margin: 1rem auto;
    }

    #controlSchema { width: 600px; }

    #btnCirculateur { top: 51%; left: 9%; }
    #spinnerCirculateur { top: 47%; left: 19%; }
    #departTemp { top: 66%; left: 41%; }
    #retourTemp { top: 28%; left: 41%; }
    #alimTemp { top: 5%; left: 21%; }
    #ambianceTemp { top: 5%; left: 65%; }
    #deltaTemp { top: 515%; left: 65%; }
}

@media (max-width: 480px) {
    #controlSchema { width: 400px; }

    #btnCirculateur { top: 51%; left: 7%; }
    #spinnerCirculateur { top: 45%; left: 18%; }
    #departTemp { top: 65%; left: 42%; }
    #retourTemp { top: 29%; left: 42%; }
    #alimTemp { top: 3%; left: 21%; }
    #ambianceTemp { top: 3%; left: 66%; }
    #deltaTemp { top: 19%; left: 66%; }
}


input[readonly] {
    background-color: #e9ecef !important;
    cursor: not-allowed;
}